$black: #232536;
$yellow: #FFD050;
$lightYellow: #fcebc3;
$purple: #592EA9;
$activePurple: #4815a7;
$darkGrey: #2E3040;
$mediumGrey: hsla(233, 4%, 45%, 0.555);
$lightGrey: #F4F4F4;
$greyishWhite: #e9e9e9;
$white: #FFFFFF;
$alternativeBackground: #f3e4ff;